<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakura.ydhyfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="阅读海洋"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.BooksBlocksActivity"></activity>
        <activity android:name=".Activity.AnswerQuesActivity" />
        <activity android:name=".Activity.AnimalChooseActivity" />
        <activity android:name=".homepage.MinClassActivity" />
        <activity android:name=".homepage.RanksActivity" />
        <activity android:name=".Activity.ShowBooksInfoActivity" />
        <activity android:name=".Activity.BooksFragDetailListActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".BottomNavActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>